html,
body {
  margin: 0;
  padding: 20px;
  width: 100%;
  height: 100%;

  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  letter-spacing: 0;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 500;
  color: #00BBDD;
}

ul {
  list-style: none;
  padding: 0;
  max-height: 220px;
  overflow: auto;
}

li {
  line-height: 24px;
}
